<!DOCTYPE html>
<html lang="en"> 
<head>
    <title>ldb_stats</title>
    <link rel="stylesheet" href="static/ldb.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div id="mainbody">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
            <a class="navbar-brand" href="#">Librarian's Dashboard</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                <li class="nav-item">
                    <a  class="nav-link active" aria-current="page" href="/adminloggedin">Home</a>
                </li>
                <li class="nav-item">
                     <a class="nav-link" href="librarian_login.html">Logout</a>
                </li>
                </ul>
            </div>
            </div>
        </nav>
        <div style="margin-left: 20%;">
            <h1>Statistics of Status of Books</h1>
            <img src="/static/img.png" alt="summary page">
        </div>
    </div>
</body>
</html>
